.jumbotron {
  padding-top: 6rem;
  background-color: #e4d8cb;
}

#projects {
  background-color: #e4d8cb;
}

footer {
  background-color: #e4d8cb;
}

section {
  padding-top: 5rem;
}
